.node_images_slideshow {
  margin: 0;
  border: 0;
}
.node_images_slideshow .large {
  text-align: center;
  float: left;
  width: 450px;
}
.node_images_slideshow .header {
  margin-bottom: 5px;
}
.node_images_slideshow p.description {
  margin-top: 5px;
  font-weight: bold;
}
.node_images_slideshow .thumbs {
  float: left;
  margin: 0 0 0 20px;
  min-width: 150px;
  height: 400px;
  overflow-x: hidden;
  overflow-y: auto;
}
.node_images_slideshow .thumbs .thumb {
  text-align: center;
  margin: 0 10px 10px 0;
  float: left;
  min-height: 145px;
}
.node_images_slideshow .thumbs img.slideshow-thumb {
  border: 0;
  padding: 1px;
  border: 2px solid #ddd;
}
.node_images_slideshow .thumbs img.active {
  border: 2px solid #888;
}
.node_images_slideshow .thumbs .thumb-description {
  width: 120px;
  white-space: wrap;
  margin-bottom: 5px;
  line-height: 1.2em;
  font-size: .75em;
}
.polaroid {
  padding: 15px 15px 55px 15px;
  border: 1px solid #000;
  background: #fff;
  text-align: center;
}